$GOSSIP: #87D37C;

.NoteCreate {
  height: 100vh;
  padding: 20px;

  &[data-app-mode='note'] {
    display: none;
  }

  &__create {
    @include primary-button;

    &[data-create-mode='true'] {
      display: none;
    }
  }

  &__cancel {
    @include basic-button;
  }
}
