.Note {
  height: 100%;
  padding: 20px;

  &[data-app-mode='list'],
  &[data-app-mode='create'] {
    display: none;
  }

  &[data-app-mode='note'] {
    // top: 0;
    // left: 0;
  }

  &__markdown {
    &[data-edit-mode='true'] {
      display: none;
    }
  }

  &__btn {
    @include basic-button;
  }

  &__edit {
    @include primary-button;
    margin-left: 10px;

    &[data-edit-mode='false'] {
      display: none;
    }
  }
}