.NoteItem {
  padding: 10px 0;
  border-top: 1px solid $color__light;
  @include clearfix;

  &:last-child {
    border-bottom: 1px solid $color__light;
  }

  &__title {
    margin: 0 0 0.5em 0;
    color: $color__dark;
    font-weight: 700;
    @include rem-font(18);
  }

  &__description {
    margin: 0;
  }

  &__label {
    margin-right: 5px;
    font-weight: 700;
  }

  &__open {}
}