.Notes {
  position: absolute;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 20px;
  overflow: auto;

  &[data-app-mode='list'] {
    top: 52px;
    left: 0;
  }

  &[data-app-mode='create'] {
    opacity: 0;
    visibility: hidden;
  }

  &[data-app-mode='note'] {
    top: 100vh;
    left: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}