.Notes {
  position: absolute;
  top: 60px;
  left: 0;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  width: 100%;
  padding: 0 10px;
  overflow: auto;

  @include respond-to(small) {
    top: 80px;
    height: calc(100vh - 80px);
    padding: 0 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.isHidden {
    display: none;
  }
}
