.Notes {
  position: absolute;
  top: 80px;
  left: 0;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  width: 100%;
  padding: 0 20px;
  overflow: auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.isHidden {
    display: none;
  }
}
