.Note {
  height: 100%;
  padding: 20px;

  &[data-app-mode='list'],
  &[data-app-mode='create'] {
    display: none;
  }

  //&[data-app-mode='note'] {}

  &__markdown {
    &[data-edit-mode='true'] {
      display: none;
    }
  }

  // &__btn {
  //   @include basic-button;
  // }
}