.Notes {
  display: none;
  position: absolute;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  width: 100%;
  padding: 0 20px;
  overflow: auto;

  &[data-app-mode='list'] {
    display: block;
    top: 80px;
    left: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}