.NoteCreateEditor {
  display: grid;
  height: calc(100% - 80px);
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
  grid-gap: 20px;

  &[data-create-mode='false'] {
    display: none;
  }

  &__title,
  &__content {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: $font__code;
    color: $color__mid;
    background-color: $color__off-white;
    border-width: 1px;
    border-style: solid;
    border-color: $color__lightest;
    transition: border-color 0.2s ease-in-out;

    &:hover {
      border-color: $color__light;
    }

    &:focus {
      outline: 0;
      border-color: $color__dark;
      color: $color__darker;
    }

    &:disabled {
      color: $color__light;
      cursor: not-allowed;
    }

    &::-webkit-input-placeholder {
      color: $color__mid;
    }

    &::-moz-placeholder {
      color: $color__mid;
    }

    &:focus {
      &::-webkit-input-placeholder {
        color: $color__light;
      }

      &::-moz-placeholder {
        color: $color__light;
      }
    }
  }

  &__content {
    height: 100%;
    resize: none;
  }
}
