.Note {
  height: calc(100% - 60px);// Header height plus 20px padding
  padding: 10px;

  @include respond-to(small) {
    height: calc(100% - 80px);// Header height plus 20px padding
    padding: 20px;
  }

  &.isHidden {
    display: none;
  }

  &__error {
    padding: 1rem;
    background-color: $CINNABAR;
  }

  &__errorTitle {
    margin: 0 0 0.5rem 0;
    color: #fff;
  }

  &__errorContent {
    margin: 0;
    color: #fff;
  }
}
