.NoteCreateEditor {
  display: grid;
  height: calc(100% - 80px);
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
  grid-gap: 20px;

  &[data-create-mode='false'] {
    display: none;
  }

  &__title,
  &__content {
    @include basic-control;
  }

  &__content {
    height: 100%;
    resize: none;
  }
}
