.RenderedNote {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: minmax(max-content, 40px) auto;
  grid-gap: 20px;

  &__title {
    margin: 0;
    color: $color__dark;
    font-weight: 700;
    font-size: 20px;
  }

  &__meta {
    position: relative;
    padding-bottom: 16px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 4px;
      background-color: $BURNTORANGE;
    }
  }

  &__content {
    overflow: auto;
  }
}