.site-container {
    @include clearfix;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 10px;

    @media screen and (min-width: 1080px) {
        padding: 0;
    }
}

.row {
    position: relative;
    width: 100%;
    float: left;
}

.site-content {
    @include clearfix;
    padding: 40px 0;
}

// HEADER 

.site-header {
    height: 100px;
}

.logo {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

.title-banner {
    position: absolute;
    right: 0;
    top: 38px;
}

// ADMIN NAV 

.stretch-container {
    float: left;
    width: 100%;

    &.top-nav-container {
        background: $color__off-white;
        border-top: 1px solid $color__light;
        border-bottom: 1px solid $color__light;
    }

    &.events-nav-container {
        background: #fff;
        border-bottom: 1px solid $color__light;
    }
}

// ADMIN ACCOUNT INFO 

.login-information-container {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        float: left;
        display: block;
        padding: 0;
        font-size: 14px;
        line-height: 40px;
    }

    a {
        display: block;
        padding: 0 5px;
        color: $color__dark;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            background: $color__dark;
            color: $color__off-white;
        }
    }

    .seperator {
        border-left: 1px solid $color__light;
    }

    .login-label {
        padding-right: 5px;
    }
}

// EMPTY

.empty-container {
    @include clearfix();
    padding: 1em;
}