// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Responsive manager
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
/// @link http://sass-guidelin.es/#breakpoint-manager Sass Guidelines - Breakpoint Manager
@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);
  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Image replace based on https://www.sitepoint.com/new-css-image-replacement-technique/
@mixin image-replace() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Basic button
@mixin basic-button() {
  $self: &;
  box-sizing: border-box;
  -webkit-appearance: none;
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  cursor: pointer;
  color: $color__dark;
  border-width: 1px;
  border-style: solid;
  border-color: $color__mid;
  background-color: $color__lightest;
  font-family: $font__main;
  font-weight: normal;
  transition: border-color 0.2s linear, background-color 0.2s linear;
  text-decoration: none;

  &:visited {
    color: $color__mid;
  }

  &:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: $color__dark;
    color: $color__darkest;
  }

  &:active,
  &:focus {
    text-decoration: none;
    color: $color__dark;
    border-color: $color__dark;
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    color: $color__light;
    cursor: not-allowed;

    &:hover {
      background-color: $color__off-white;
      border-color: $color__light;
      color: $color__light;
    }
  }

  + #{ $self } {
    margin-left: 10px;
  }

  &--isHidden {
    display: none;
  }
}

@mixin primary-button() {
  @include basic-button;
  color: $color__darkest;
  background-color: $GOSSIP;
  border-width: 1px;
  border-style: solid;
  border-color: $color__mid;

  &:hover {
    background-color: lighten($GOSSIP, 10%);
    border-color: $color__dark;
  }

  &:active,
  &:focus {
    border-color: $color__dark;
  }
}

@mixin text-button() {
  $self: &;
  box-sizing: border-box;
  -webkit-appearance: none;
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: $color__mid;

  &:hover {
    color: $color__dark;
  }

  &:active,
  &:focus {
    outline: 0;
    color: $color__darkest;
  }
}

@mixin basic-control() {
  $self: &;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: $font__code;
  color: $color__mid;
  background-color: $color__off-white;
  border-width: 1px;
  border-style: solid;
  border-color: $color__lightest;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: $color__light;
  }

  &:focus {
    outline: 0;
    border-color: $color__dark;
    color: $color__darkest;
    background-color: #fff;
  }

  &:disabled {
    color: $color__light;
    cursor: not-allowed;
  }

  &::-webkit-input-placeholder {
    color: $color__mid;
  }

  &::-moz-placeholder {
    color: $color__mid;
  }

  &:focus {
    &::-webkit-input-placeholder {
      color: $color__light;
    }

    &::-moz-placeholder {
      color: $color__light;
    }
  }
}
