// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Common/repeated color
// Shades of black
$color__off-white: #f5f5f5 !default;
$color__lightest: #D6D6D6 !default;
$color__lighter: #B7B7B7 !default;
$color__light: #999 !default;
$color__mid: #7A7A7A !default;
$color__dark: #5B5B5B !default;
$color__darker: #3D3D3D !default;
$color__darkest: #1f1f1f !default;

$color__text-default: $color__mid !default;

$color__border-default: $color__light !default;

// Named colors
$GOSSIP: #87D37C !default;
$CAPEHONEY: #FDE3A7 !default;
$BURNTORANGE:#D35400 !default;

// Fonts
$font__main: 'Ubuntu', sans-serif !default;
$font__code: 'Ubuntu Mono', monospace !default;
$font__line-height-body: 1.5 !default;
