/**
 * Basic typography style for copy text
 */
body {
    color: $color__text-default;
    font-size: 100%;
    font-family: $font__main;
    line-height: $font__line-height-body;
}

h1 {
    @include rem-font(28);
    margin: 0 0 0.5em 0;
    color: $color__dark;
    font-weight: normal;
}

h2 {
    @include rem-font(20);
    margin: 0 0 0.5em 0;
    color: $color__dark;
    font-family: $font__main;
    font-weight: normal;
}

h3 {
    @include rem-font(22);
    margin: 0 0 0.5em 0;
    color: $color__dark;
    font-family: $font__main;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    @include rem-font(18);
    margin: 0 0 1em 0;
    font-family: $font__main;
    font-weight: normal;
}

h5 {
    @include rem-font(16);
    margin: 0;
    font-family: $font__main;
    font-weight: normal;
}

p {
    margin: 0 0 1em 0;

    &:empty {
        display: none;
    }
}

strong {
    font-weight: 700;
}
